:root {
   --main-font: 'Roboto', sans-serif; /* 300, 400, 700 */
   --yellow: #eac926;
   --blue: #03264c;
   --sky-blue: #1259c3;
   --dark-gray: #666;
   --light-gray: #ebebeb;
   --green: #39b54a;
   /* Font Sizes */
   --display-text-body: 12px;
   --display-title: 24px;
   --display-prices: 18px;
   --display-discounts: 16px;
   --display-descriptions: 16px;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: var(--main-font);
}

body {
   background-color: var(--light-gray);
}

h1 {
   display: none;
}

/* --- Header --- */

.main_header {
   background-color: var(--yellow);
   width: 100%;
   padding: 0 0 1rem;
}

.main_header_top_bar {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   align-items: center;
   padding: 1rem;
}

.main_header_logo {
   padding-right: 1rem;
   width: 50%;
}

.main_header_search_bar {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50%;
   background-color: #f0f0f0;
   border-radius: 12px;
   padding: 5px;
}

.main_header_search_bar input[type='search'] {
   border: none;
   background-color: transparent;
   width: 100%;
   padding: 5px;
   outline: none;
}

.main_header_button {
   background-color: transparent;
   border: none;
   cursor: pointer;
}

.main_header_button i {
   font-size: 18px;
   color: #333;
}

.main_header_description {
   font-size: 1rem;
   font-weight: 400;
   text-align: center;
   margin-top: 10px;
}

.hamburguer_button {
   background-color: var(--blue);
   color: var(--light-gray);
   display: block;
   max-width: 50px;
   padding: 15px 0;
   border-radius: 8px;
   text-align: center;
   font-size: 18px;
   margin: auto;
}

.main_navbar {
   display: none;
}

.main_navbar ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

.main_navbar a {
   text-decoration: none;
   color: #222;
   display: inline-block;
   padding: 5px 0;
   font-size: 17px;
}

.header_banner {
   display: none;
   width: 100%;
   height: auto;
}

/* MAIN CONTENT */

.main_conteiner {
   margin: auto;
   width: 90%;
}

.main__title {
   font-size: var(--display-title);
   color: var(--dark-gray);
   margin: 1rem 0 0 10px;
}

.main_section {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.main_section article {
   max-width: 350px;
   text-align: center;
   margin: 10px;
   padding: 0.5rem;
   background-color: white;
}

.product_img {
   width: 100%;
   height: auto;
   display: block;
}

.article_div_conteiner {
   text-align: left;
   padding: 0.5rem 0.5rem;
   border-top: 1px solid var(--light-gray);
}

.article_div_conteiner i {
   color: var(--green);
   display: block;
   font-size: 1rem;
   width: 30px;
   height: 30px;
   border: 1px solid var(--green);
   background-color: #fff;
   padding: 5px;
   border-radius: 50%;
   position: relative;
   left: 88%;
}

.div__conteiner-price {
   max-width: 350px;
   display: flex;
   align-items: center;
   gap: 1rem;
}

.article__price {
   width: 30%;
   font-size: var(--display-prices);
}

.article__discounts {
   width: 70%;
   font-size: var(--display-discounts);
   color: var(--green);
}

.article__description {
   margin-top: 0.5rem;
   font-size: var(--display-descriptions);
   opacity: 0.8;
   display: none;
}

/* --- Footer --- */

.main_footer {
   color: var(--dark-gray);
   background-color: white;
   width: 100%;
   margin: 12px 0 -24px;
   text-align: center;
}

.article_footer {
   padding-top: 48px;
}

.article_footer i {
   margin: 10px;
   font-size: 2em;
   color: var(--sky-blue);
}

.article_footer h3 {
   margin: 0;
}

.description_footer {
   margin: 1px 36px 0;
   text-align: center;
}

.copyright {
   text-align: left;
   margin-top: 48px;
   margin-left: 18px;
   padding-bottom: 24px;
}

/* Media queries */

@media (min-width: 361px) {
   .main_section article {
      box-shadow: 0 0 10px rgb(100, 100, 100);
   }
   .main_section .article__description {
      display: block;
   }
}

@media (min-width: 768px) {
   .main_header_logo {
      max-width: 33%;
      padding: 10px;
   }
   .main_header_search_bar {
      max-width: 33%;
      padding: 10px;
   }
   .main_header_description {
      padding: 10px;
      max-width: 33%;
      text-align: center;
      font-size: 1.3rem;
   }
   .hamburguer_button {
      display: none;
   }
   .main_navbar {
      display: flex;
      justify-content: space-between;
      padding: 0 15px;
   }
   .main_navbar ul {
      display: flex;
   }
   .main_navbar li {
      margin: 0 5px;
   }
}

@media (min-width: 1200px) {
   .main_header_top_bar,
   .main_navbar {
      width: 100%;
   }
   .main_header_logo {
      padding-right: 24px;
   }
   .main_header_search_bar {
      padding-right: 24px;
   }
   .main_header_description {
      padding-right: 24px;
      font-size: 1.6rem;
      font-weight: 400;
   }
   .main_navbar {
      width: 100%;
      margin: 40px 0 20px;
      padding: 0;
      font-size: 1.4rem;
   }
   .main_navbar li {
      margin: 0 10px;
   }
   .main_navbar a {
      font-size: 1.4rem;
   }
   .header_banner {
      display: inline;
   }
}
