:root {
   --main-font: 'Roboto', sans-serif; /* 300, 400, 700 */
   --yellow: #eac926;
   --blue: #03264c;
   --sky-blue: #1259c3;
   --dark-gray: #666;
   --dark-gray-border: #666666a1;
   --dark-gray-bold: #353535;
   --light-gray: #ebebeb;
   --green: #39b54a;
}

/* Startup */

* {
   box-sizing: border-box;
   font-family: var(--main-font);
}

h1 {
   display: none;
}

/* HEADER */

.main_header {
   background-color: var(--yellow);
   width: 100vw;
   padding-bottom: 1rem;
}

.main_header_top_bar {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   align-items: center;
   padding: 10px 10px 0;
}

.main_header_logo {
   padding-right: 5px;
   width: 50%;
}

.main_header_search_bar {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50%;
   background-color: #f0f0f0;
   border-radius: 12px;
   padding: 5px;
}

.main_header_search_bar input[type='search'] {
   border: none;
   background-color: transparent;
   width: 100%;
   padding: 5px;
   outline: none;
}

.main_header_button {
   background-color: transparent;
   border: none;
   cursor: pointer;
}

.main_header_button i {
   font-size: 18px;
   color: #333;
}

.main_header_description {
   font-size: 1rem;
   font-weight: 400;
   text-align: center;
}

.hamburguer_button {
   background-color: var(--blue);
   color: var(--light-gray);
   display: block;
   max-width: 50px;
   padding: 15px 0;
   border-radius: 8px;
   text-align: center;
   font-size: 18px;
   margin: auto;
}

.main_navbar {
   display: none;
}

.main_navbar ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

.main_navbar a {
   text-decoration: none;
   color: #222;
   display: inline-block;
   padding: 5px 0;
   font-size: 17px;
}

.header_banner {
   display: none;
   width: 100%;
   height: auto;
}

/* MAIN CONTENT */

.login__main-conteiner {
   background-color: var(--light-gray);
   padding: 36px;
}

.label-off {
   display: none;
}

.box-input {
   display: block;
   width: 100%;
   height: 3rem;
   margin-bottom: 15px;
   padding: 5px;
   border: 1px solid var(--dark-gray-border);
   border-radius: 5px;
}

.box-input:hover {
   border-color: var(--dark-gray-bold);
   cursor: pointer;
}

.box-input:focus {
   outline: none;
   border-color: var(--dark-gray-bold);
}

.box-input::placeholder {
   color: var(--dark-gray);
   padding-left: 5px;
}

.form-button {
   width: 100%;
   height: 3rem;
   font-size: 1.2rem;
   padding: 6px 12px;
   background-color: var(--sky-blue);
   color: var(--light-gray);
   border: 2px solid white;
   border-radius: 5px;
}

.form-button:hover {
   opacity: 0.8;
   color: white;
   cursor: pointer;
   background-color: #0022aa;
}

/* --- Footer --- */

.main_footer {
   color: var(--dark-gray);
   background-color: white;
   width: 100%;
   margin: 12px 0 -24px;
   text-align: center;
}

.article_footer {
   padding-top: 48px;
}

.article_footer i {
   margin: 10px;
   font-size: 2em;
   color: var(--sky-blue);
}

.article_footer h3 {
   margin: 0;
}

.description_footer {
   margin: 1px 36px 0;
   text-align: center;
}

.copyright {
   text-align: left;
   margin-top: 48px;
   margin-left: 18px;
   padding-bottom: 24px;
}

/* Media queries */

@media (min-width: 768px) {
   .main_header_logo {
      max-width: 33%;
      padding: 10px;
   }

   .main_header_search_bar {
      max-width: 33%;
      padding: 10px;
   }

   .main_header_description {
      padding: 10px;
      max-width: 33%;
      text-align: center;
      font-size: 1.3rem;
   }

   .hamburguer_button {
      display: none;
   }

   .main_navbar {
      display: flex;
      justify-content: space-between;
      padding: 0 15px;
   }

   .main_navbar ul {
      display: flex;
   }

   .main_navbar li {
      margin: 0 5px;
   }

   .main__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   .box-input {
      max-width: 700px;
   }

   .form-button {
      max-width: 700px;
   }
}

@media (min-width: 1200px) {
   .main_header_top_bar,
   .main_navbar {
      width: 100%;
   }

   .main_header_logo {
      padding-right: 24px;
   }

   .main_header_search_bar {
      padding-right: 24px;
   }

   .main_header_description {
      padding-right: 24px;
      font-size: 1.6rem;
      font-weight: 400;
   }

   .main_navbar {
      width: 100%;
      margin: 40px 0 20px;
      padding: 0;
      font-size: 1.4rem;
   }

   .main_navbar li {
      margin: 0 10px;
   }

   .main_navbar a {
      font-size: 1.4rem;
   }

   .header_banner {
      display: inline;
   }
}
