:root {
   --main-font: 'Roboto', sans-serif; /* 300, 400, 700 */
   --yellow: #eac926;
   --blue: #03264c;
   --sky-blue: #1259c3;
   --dark-gray: #666;
   --light-gray: #ebebeb;
   --green: #39b54a;
   /* Font Sizes */
   --display-text-body: 12px;
   --display-title: 24px;
   --display-prices: 18px;
   --display-discounts: 16px;
   --display-descriptions: 16px;
}

* {
   box-sizing: border-box;
   font-family: var(--main-font);
}

body {
   background-color: var(--light-gray);
}

/* --- Header --- */

.main_header {
   background-color: var(--yellow);
   padding: 20px; /* padding: 0; banner media query */
}

.main_header_logo {
   width: 200px;
}

.main_header_search_bar {
   display: none;
}

.main_header_description {
   font-weight: 400;
   text-align: center;
}

.hamburguer_button {
   background-color: var(--blue);
   color: var(--light-gray);
   display: block;
   max-width: 50px;
   padding: 15px 0;
   border-radius: 8px;
   text-align: center;
   font-size: 18px;
   margin: auto;
}

.main_navbar {
   display: none;
}

.main_navbar ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

.main_navbar a {
   text-decoration: none;
   color: #222;
   display: inline-block;
   padding: 5px 0;
   font-size: 17px;
}

.header_banner {
   display: none;
   width: 100%;
   height: auto;
}

/* --- Main --- */

.main_conteiner {
   margin: auto;
   width: 90%;
}

.main_section h2 {
   font-size: var(--display-title);
   color: var(--dark-gray);
   margin-left: 10px;
}

.main_section article {
   text-align: center;
   margin: 10px;
   background-color: white;
}

.product_img {
   width: 100%;
   height: auto;
   display: block;
}

.article_div_conteiner {
   text-align: left;
   padding: 15px;
   box-sizing: border-box;
   border-top: 1px solid var(--light-gray);
}

.article_div_conteiner i {
   color: var(--green);
}

.article__price {
   font-size: var(--display-prices);
}

.article__discounts {
   font-size: var(--display-discounts);
   color: var(--green);
}

.article__description {
   font-size: var(--display-descriptions);
   opacity: 0.8;
   margin-bottom: 0;
}

/* --- Footer --- */

.main_footer {
   color: var(--dark-gray);
   background-color: white;
   width: 95vw;
   margin: 0 auto 10px;
   text-align: center;
}

.article_footer {
   padding-top: 48px;
}

.article_footer i {
   margin: 10px;
   font-size: 2em;
   color: var(--sky-blue);
}

.article_footer h3 {
   margin: 0;
}

.description_footer {
   margin: 1px 36px 0;
   text-align: center;
}

.copyright {
   text-align: left;
   margin-top: 48px;
   margin-left: 18px;
   padding-bottom: 24px;
}

/* Media queries */

@media (max-width: 361px) {
   main section article .article__description {
      display: none;
   }
}

@media (min-width: 361px) {
   header nav .burger-menu {
      display: none;
   }
   main section article {
      box-shadow: 0 0 10px rgb(100, 100, 100);
   }
}

@media (min-width: 768px) {
   .main_header_top_bar {
      display: flex;
      justify-content: space-between;
   }
   .main_header_description {
      max-width: 350px;
      text-align: right;
   }
   .hamburguer_button {
      display: none;
   }
   .main_navbar {
      display: flex;
      justify-content: space-between;
   }
   .main_navbar ul {
      display: flex;
   }
   .main_navbar li {
      margin: 0 5px;
   }
}

@media (min-width: 1200px) {
   .main_header {
      padding: 0;
      padding-top: 20px;
   }
   .main_header_top_bar,
   .main_navbar {
      max-width: 1200px;
      margin: auto;
   }
   .main_header_top_bar {
      align-items: center;
      justify-content: space-around;
   }
   .main_header_logo {
      width: 250px;
      display: block;
   }
   .main_header_search_bar {
      border-radius: 8px;
      width: 40%;
      height: 40px;
      display: flex;
   }
   .main_header_search_bar input {
      width: 100%;
      height: 100%;
   }
   .main_header_search_bar i {
      font-size: 2.1rem;
      opacity: 0.8;
   }
   .main_header_description {
      max-width: none;
      font-size: 1rem;
      font-weight: 400;
      margin: 0;
   }
   .main_navbar {
      margin-top: 40px;
      margin-bottom: 20px;
   }
   .main_navbar li {
      margin: 0 10px;
   }
   .main_navbar a {
      font-size: 1rem;
   }
   .header_banner {
      display: inline;
      margin-bottom: 20px;
   }
}
